<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<table border='1'>
  <tr><th>key</th><th>value</th></tr>
  <% @testData.each do |k, v| %>
    <tr><td><%= k %></td><td><%= v %></td></tr>
  <% end %>
</table>
