.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


div.topbar {
  background: lightblue;
  height: 20px;
  color: black;
  width: 100%;
  margin: 0;
}

div.assign-header {
  width: 90%;
  margin: auto;
}

div.assign-header>* {
  margin: 0 5% 0;
}

div.assign-header>button {
  background: white;
  border: none;
  max-width: 70px;
  text-size: 100%;
}

div.assign-header>button>i {
  font-size: 15px;
  width:15px;
}

ul.assign-list {
  list-style-type: none;
  postion: relative;
  margin: auto;
  width: 90%;
}

ul.assign-list>li {
  width: 90%;
  padding: 20px;
  margin: 0 auto 5px auto;
  positon: relative;
  display: inline-block;
  border: 3px solid black;
}

span.assign-list__group-num {
  vertical-align: center;
  margin: 0 25px 0;
}
span.assign-list__eval-status {
  margin: 0 25px 0;
}

.pull-left {
  float: left;
}
